html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  justify-content: center;
  z-index: 100;
}
.header.transparent {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header.solid {
  background-color: white;
  border-bottom: 1px solid rgb(78, 78, 78);
}
.header.solid .header-content ul li a {
  color: black;
}
.header.solid .search .input, .header.solid .search .input::placeholder {
  color: black;
}
.header.solid .search .btn {
  color: black;
}
.header.solid .search.active .input {
  width: 150px;
  border-bottom: 1px solid black;
}
.header .header-content {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header-content .logo-header {
  display: flex;
  gap: 10px;
  padding: 10px 50px;
  height: 56px;
}
.header .header-content .logo-header img {
  height: 100%;
  margin-left: 30px;
}
.header .header-content .logo-header h1 {
  font-size: 28px;
}
.header .header-content ul {
  display: flex;
  gap: 40px;
  flex-direction: row;
  list-style: none;
  margin-left: 50px;
}
.header .header-content ul li a {
  text-decoration: none;
  color: white;
  font-family: "BPG Nostalgia", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.header .header-content ul li a:hover {
  color: #878686;
}

footer {
  margin-top: auto;
  background-color: #333;
  color: white;
  padding: 60px 0 30px;
  text-align: center;
}
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  text-align: start;
}
footer .container .text-column {
  flex: 2;
}
footer .container .text-column h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
}
footer .container .text-column ul {
  list-style: none;
}
footer .container .text-column ul li {
  margin-bottom: 10px;
}
footer .container .text-column ul li a {
  color: rgb(189, 189, 189);
  text-decoration: none;
  font-size: 14px;
}
footer .container .text-column ul li a:hover {
  color: #aaaaaa;
}
footer .container .logo-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  min-width: 200px;
}
footer .container .logo-section .large-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
footer .container .logo-section .large-logos .large-logo {
  width: 90px;
  height: 90px;
  border-radius: 5%;
}
footer .container .logo-section .large-logos #tbc {
  background-image: url("../images/tbc-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
footer .container .logo-section .large-logos #geolab {
  background-image: url("../images/geolab-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
footer .container .logo-section .small-logos {
  display: flex;
  gap: 10px;
}
footer .container .logo-section .small-logos .small-logo {
  width: 35px;
  height: 35px;
  border-radius: 3%;
  color: #878190;
  transition: color 0.3s ease;
}
footer .container .logo-section .small-logos .small-logo i {
  font-size: 35px;
}
footer .container .logo-section .small-logos .small-logo:hover {
  font-size: 38px;
  color: #aaaaaa;
}
footer .credits-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .credits-section .line {
  width: 95vw;
  max-width: 1200px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  height: 1.5px;
}
footer .credits-section .credit-text {
  width: 95vw;
  max-width: 1200px;
}
footer .credits-section .credit-text p {
  font-size: 14px;
  margin-top: 30px;
  text-align: start;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main, footer, header {
  position: relative;
  display: block;
  width: 100%;
}
main h1, main h2, main h3, main h4, main button, footer h1, footer h2, footer h3, footer h4, footer button, header h1, header h2, header h3, header h4, header button {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-weight: 700;
}
main a, main p, footer a, footer p, header a, header p {
  font-family: "BPG Nostalgia", sans-serif;
  font-weight: 400px;
  line-height: 25px;
}

.carousel-box {
  position: relative;
  background-color: rgb(38, 36, 46);
  height: 222px;
  z-index: 1;
  margin: 50px 0;
}
.carousel-box .carousel {
  margin: auto;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  max-width: 1400px;
  position: relative;
  z-index: 1;
  background-color: inherit;
}
.carousel-box .carousel .group {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-right: 40px;
  will-change: transform;
  animation: scrolling 30s linear infinite;
}
.carousel-box .carousel .group .card {
  width: 250px;
  height: 180px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(63, 66, 75);
  line-height: 20px;
  color: white;
  transition: background-color 0.2s ease;
}
.carousel-box .carousel .group .card .stat {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #be3636;
}
.carousel-box .carousel .group .card .stat-title {
  font-size: 14px;
  max-width: 200px;
}
.carousel-box .carousel .group .card:hover {
  background-color: rgb(82, 84, 88);
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 10;
  pointer-events: none;
}

.carousel::before {
  left: 0;
  background: linear-gradient(to right, rgb(38, 36, 46), transparent);
}

.carousel::after {
  right: 0;
  background: linear-gradient(to left, rgb(38, 36, 46), transparent);
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.accordion-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
}
.accordion-container .accordion-introtext {
  width: 75vw;
  max-width: 1500px;
  margin-bottom: 50px;
}
.accordion-container .accordion-introtext h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.accordion-container .accordion-introtext p {
  font-size: 18px;
}
.accordion-container .accordion-box {
  width: 60vw;
  max-width: 1200px;
  /* Style the buttons that are used to open and close the accordion panel */
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the accordion panel. Note: hidden by default */
}
.accordion-container .accordion-box .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 40px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
  font-size: 18px;
}
.accordion-container .accordion-box .active, .accordion-container .accordion-box .accordion:hover {
  background-color: #ccc;
}
.accordion-container .accordion-box .panel-inner {
  display: flex;
  gap: 20px;
}
.accordion-container .accordion-box .panel {
  margin-bottom: 50px;
  padding: 18px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-container .accordion-box .panel .panel-inner .panel-logo {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
}
.accordion-container .accordion-box .panel #home {
  background-image: url("../images/home.png");
}
.accordion-container .accordion-box .panel #cycle {
  background-image: url("../images/cycle.png");
}
.accordion-container .accordion-box .panel #apple {
  background-image: url("../images/apple.png");
}

.search {
  position: relative;
  height: 35px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search .input {
  border: 0;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  font-family: "BPG Nostalgia", sans-serif;
  padding: 15px 10px 15px 0;
  height: 10px;
  width: 0;
  background: transparent;
  text-align: right;
  color: white;
  transition: width 0.3s ease, border-bottom-color 0.3s ease;
}
.search .input::placeholder {
  color: white;
}
.search .btn {
  border: 0;
  font-size: 16px;
  height: 40px;
  width: 40px;
  background: transparent;
  cursor: pointer;
  color: white;
}
.search.active .input {
  width: 150px;
  border-bottom: 1px solid white;
}
.search .input:focus,
.search .btn:focus {
  outline: 0;
}

.landing-page {
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(to left, black, transparent), url("../images/air-pollution.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.landing-page .text {
  max-width: 1150px;
}
.landing-page .text h1 {
  font-size: 85px;
  margin-left: 8vw;
}
.landing-page .text p {
  font-size: 18px;
  margin-left: 8vw;
  line-height: 25px;
}

.article-box {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.article-box .article {
  width: 80vw;
  max-width: 1250px;
  padding-top: 100px;
}
.article-box .article .title {
  margin: 30px 0;
}
.article-box .article .title h1 {
  font-size: 60px;
}
.article-box .article .info {
  display: flex;
}
.article-box .article .info .info-textbox {
  flex: 2;
}
.article-box .article .info .info-textbox .paragraph {
  text-indent: 10px;
  margin-bottom: 40px;
  padding-right: 40px;
}
.article-box .article .info .info-textbox .paragraph p {
  color: black;
  line-height: 30px;
  font-size: 18px;
}
.article-box .article .info .imgbox {
  flex: 1;
}
.article-box .article .info .imgbox img {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}
.article-box .article .info .imgbox p {
  color: #333;
  margin: 4px 8px;
  font-size: 14px;
  line-height: 20px;
}

.moreinfo-container {
  margin-top: 50px;
  height: 700px;
  background-color: #efeff0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.moreinfo-container .moreinfo-content {
  max-width: 1000px;
  text-align: center;
  font-size: 23px;
  line-height: 32px;
}
.moreinfo-container .moreinfo-content p {
  margin: 20px 0;
}
.moreinfo-container .moreinfo-content h1 {
  font-size: 45px;
  margin-bottom: 30px;
}
.moreinfo-container .moreinfo-content button {
  background-color: #8295c9;
  padding: 18px 25px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  font-family: "BPG Nostalgia", sans-serif;
  font-weight: 400px;
  font-size: 23px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */