.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	// transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
	transition: all 0.3s ease;

	display: flex;
	flex-direction: column;
	align-items: center	;

	z-index: 100;
    
	&.transparent {
		backdrop-filter: blur(10px);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);

		.header-container {
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}


		.header-dropdown {
			backdrop-filter: blur(20px);
			&.show{
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			}

			.dropdown-links {
				ul li a {
					text-decoration: none;
					color: rgb(255, 255, 255);
				}
			}
		}
	}

	&.solid {
		background-color: white;


		.header-content ul li a {
			color: black;
		}

		.search {
			.input, .input::placeholder {
				color: black;
			}

			.btn {
				color: black;
			}

			&.active .input {
				width: 150px;
				border-bottom: 1px solid black;
			}
		}


		.header-dropdown {
			&.show{
				border-bottom: 1px solid rgb(78, 78, 78);
			}
			.dropdown-links {
				ul li a {
					text-decoration: none;
					color: black;
				}
			}
		}
	}

	
	.header-content {
		height: 75px;
		width: 75vw;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.logo-header {
			display: flex;
			gap: 10px;
			padding: 10px 50px;
			height: 56px;

			img {
				height: 100%;
				margin-left: 30px;
			}

			h1 {
				font-size: 28px;
			}
		}

		ul {
			display: flex;
			gap: 40px;
			flex-direction: row;
			list-style: none;
			margin-left: 50px;

			li a {
				text-decoration: none;
				color: white;
				font-family: "BPG Nostalgia", sans-serif;
				font-weight: 400;
				font-size: 16px;

				&:hover {
					color: #878686;
				}
			}
		}
	}


	.header-container {
		display: flex;
		justify-content: center;
		width: 100%;
		border-bottom: 1px solid rgb(78, 78, 78);
	}

	.header-dropdown {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.1s ease-in, padding 0.1s ease-out;
		border-bottom: 0px;

		&.show {
			max-height: 30px;
		}

		.dropdown-container{
			width: 100%;
			height: 30px;

			display: flex;
			justify-content: center;
			align-items: center;

			.dropdown-links {
				width: 75vw;
				display: flex;
				gap: 40;
				justify-content: flex-end;

				ul {
					display: flex;
					gap: 40px;

					li a {
						text-decoration: none;
					}
				}
			}
		}
	}
}



@media screen and (max-width: 600px) {
	.header-content {
		justify-content: center;
		flex-direction: column;

		margin: 10px 0;

		.search {
			justify-content: center !important;
		}

		ul {
			margin-left: 0px !important;
		}
	}


	.dropdown-links {
		justify-content: center !important;
	}
}