* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main, footer, header {
    position: relative;
    display: block;
    width: 100%;

	h1, h2, h3, h4, button {
		font-family: "BPG Nino Mtavruli", sans-serif;
		font-weight: 700;
	}

	a, p {
		font-family: "BPG Nostalgia", sans-serif;
		font-weight: 400px;
		line-height: 25px;
	}
}