.landing-page {
	height: 100vh;
	background-color: white;
	background-image: url("../images/Mann-Li-PNAS-MAin_0.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

	color: white;
}