.landing-page {
	height: 100vh;
	background-color: white;
	background-image: 	linear-gradient(to left, black, transparent),
						url("../images/air-pollution.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;

	display: flex;
	justify-content: center;
	flex-direction: column;

	color: white;

	.text {
		max-width: 1150px;
		h1 {
			font-size: 85px;
			margin-left: 100px;
		}
		p {
			font-size: 18px;
			margin-left: 100px;
			line-height: 25px;
		}
	}
}